{
  "configuration": {
    "host" : "localhost",
    "port" : 9000,
    "endpoint": "paraview",
    "content": "",
    "proxy_file" : "C:/temp/proxy.txt",
    "sessionURL_" : "ws://${host}:${port}/ws",
    "sessionURL" : "ws://192.168.1.132:8090/proxy?sessionId=${id}&path=ws",
    "timeout" : 30,
    "log_dir" : "C:/temp/logs/",
    "fields" : []
  },
  "resources" : [ {
  "host" : "localhost",
  "port_range" : [9001, 9999]
  } ],
  "properties" : {
    "python_exec": "C:/universal/VTK-build/bin/Release/vtkpython.exe",
    "appVrt": "C:/universal/VTK-build/bin/Release/pv_vtk_vrt.py",
    "appMpr": "C:/universal/VTK-build/bin/Release/pv_vtk_mpr.py",
    "app4View": "C:/universal/VTK-build/bin/Release/vtk_4view.py"
  },
  "apps": {
    "vrt": {
        "cmd": [
            "${python_exec}", "${appVrt}", "--port", "${port}", "--authKey", "${secret}", "--content", "${uid}"
        ],
        "ready_line" : "Starting factory"
    },
    "mpr": {
        "cmd": [
            "${python_exec}", "${appMpr}", "--port", "${port}", "--authKey", "${secret}", "--content", "${uid}", "--upload-directory", "${orientation}"
        ],
        "ready_line" : "Starting factory"
    },
    "4view": {
        "cmd": [
            "${python_exec}", "${app4View}", "--port", "${port}", "--authKey", "${secret}", "--content", "${uid}"
        ],
        "ready_line" : "Starting factory"
    }
  }
}